@charset "utf-8";
/* CSS Document */
@import url("global.css");
h2{font-weight:normal;}
.banner_bg{ background:#fefcef; width:100%; text-align:center; height:320px; display:block; overflow:hidden;}

/*.banner_bottom, .right_topbox_bg .edge .font, .right_topbox_bg .edge .search{ background:url(/assets/images/v1.0/c/index_img.png) no-repeat;}*/

.banner_bottom{ width:100%; min-width:990px; background-position:0px 0px; height:20px; background-repeat:repeat-x; line-height:40px;}
.banner_bottom strong{ float:left; display:block; line-height:40px;}
.banner_bottom .link_news{ text-align:left; color:#666; line-height:40px; height:40px; }
.banner_bottom .small_pic{float:right;}
.banner_bottom .size_box{width:845px;display:block; overflow:hidden; height:40px;}
.banner_bottom img{ margin:10px 0px 10px 6px; border:none;}
.banner_bottom .gg_link{line-height:40px; height:40px; font-weight:bold;}

.process_img{ margin:auto; width:990px; background:url(/assets/images/process_img.jpg) no-repeat; height:38px; margin-top:15px; margin-bottom:5px; display:block;}

.indexcontent .left .recommend a,.indexcontent .left .recommend a:hover,.indexcontent .left .payout a, .indexcontent .left .payout a:hover,.indexcontent .left .preferential a,.indexcontent .left .preferential a:hover,.indexcontent .left .cover a,.indexcontent .left .cover a:hover{ background:url(/assets/images/v1.0/c/home_list1.jpg) no-repeat;  text-indent:-999em; overflow:hidden; display:block;width:321px; height:151px; cursor:pointer;}

.indexcontent{ margin:auto; width:990px;}
.indexcontent .left{ float:left; width:655px;}
.indexcontent .left ul{ width:668px; overflow:hidden;}
.indexcontent .left li{ width:321px; float:left; height:151px; display:block; margin:6px 13px 0px 0px;}

.indexcontent .left .recommend a{background-position:left top;}
.indexcontent .left .recommend a:hover{ background-position:0 -317px;}
.indexcontent .left .payout a{background-position:-334px top;}
.indexcontent .left .payout a:hover{ background-position:-334px -317px;}
.indexcontent .left .cover a{background-position:0 -157px;}
.indexcontent .left .cover a:hover{ background-position:0 -474px;}
.indexcontent .left .preferential a{background-position:-334px -157px;}
.indexcontent .left .preferential a:hover{ background-position:-334px -474px;}

.indexcontent .right{ float:right; width:320px;margin-top:6px; overflow:hidden;}

.right_topbox_bg1{ float:right;width:320px; height:120px;}/* background:url(/assets/images/v1.0/c/index_topboxbg.png) no-repeat; */
.right_topbox_bg1 .edge1{ border:#9ec0dc 1px solid; width:318px; height:110px; float:left; padding-left:15px; *width:302px;}
.right_topbox_bg1 .edge1 .font{ width:100%; height:30px; line-height:30px;  text-indent:5px;}
.right_topbox_bg1 .edge1 .font a{ font-size:15px; font-weight:bold;  color:#1b2e8e; }
.right_topbox_bg1 .edge1 textarea{ border:#e6e6e6 1px solid; width:275px; height:44px; line-height:18px; margin:8px 0px;_margin:0 0 8px 0px; font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif;}
.right_topbox_bg1 .edge1 .search{ background:url(/assets/images/v1.0/c/index_img.png) no-repeat; float:left; width:51px; height:22px; text-align:center; line-height:22px; color:#333333; background-position:left -87px; display:block; overflow:hidden; text-indent:-999em;}


.right_topbox_bg{ float:right;width:320px; height:185px;}/* background:url(/assets/images/v1.0/c/index_topboxbg.png) no-repeat; */
.right_topbox_bg .edge{ border:#9ec0dc 1px solid; width:318px; height:185px; float:left; padding-left:15px; display:inline; *width:302px;}
.right_topbox_bg .edge .font{ width:100%; height:30px; line-height:30px;  text-indent:5px;}
.right_topbox_bg .edge .font a{ font-size:15px; font-weight:bold;  color:#1b2e8e; }
.right_topbox_bg .edge textarea{ border:#e6e6e6 1px solid; width:275px; height:44px; line-height:18px; margin:8px 0px;_margin:0 0 8px 0px; font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif;}
.right_topbox_bg .edge .search{ float:left; width:51px; height:22px; text-align:center; line-height:22px; color:#333333; background-position:left -87px; display:block; overflow:hidden; text-indent:-999em;}
.right_bottombox{ background:url(/assets/images/v1.0/c/index_right_bg.png) no-repeat; width:320px; height:165px;}
.right_bottombox .news_more{float:right; padding:10px 15px 0 0; display:block; height:30px;}
.right_bottombox ul{ width:290px; margin:0 auto;}
.right_bottombox ul li{ display:block; clear:both; padding:0 0 0 10px; background:url(/assets/images/v1.0/c/list_gg_li.gif) no-repeat; line-height:22px; height:22px;}
.right_bottombox ul li a{color:#666;width:210px; display:block; text-overflow: ellipsis; white-space:nowrap; overflow:hidden; line-height:22px;}
.right_bottombox ul span{float:right; color:#888; line-height:20px;}
.right_topbox_bg .edge .notice{ height:200px; width:90%; margin-top:3px; border-top:1px dotted #b3b1af }
.right_topbox_bg .edge .notice ul li{  border-bottom:1px  dotted #b3b1af; padding-left:5px }
#shangfan{ height:40px;overflow:hidden; float:left;}
