// Global parameter for save select rows.
var selectedRows = [];

// Global parameter for save the jTable status.
var setting = {
		title: '包裹一览表',
		paging: true,
		selecting: true,
		multiselect: true,
		selectingCheckboxes: true,
		messages: {
            addNewRecord: '添加新包裹'
        },
		actions: {
			listAction: '/myPackage/get'
		},
		toolbar: {
            items: [
            {
                icon: '/assets/images/box_in.ico',
                text: '合成包裹',
                click: function () {
                    var selected = $('#PackageTableContainer').jtable('selectedRows');
                    if(selected.length <= 1 || selected.length > 5) {sweetAlert('错误', '请选择1~5个包裹修改', 'error');return;}
                    var targetPackage = [];
                    selected.each(function(index) {
                        targetPackage[index] = $(this).find("td").eq(1).html();
                    })
                    $.ajax({
                        type: "post",
                        url: "/operation/combine",
                        dataType: "json",
                        contentType:'application/json',
                        async: false,
                        data: JSON.stringify({"originPackageIDs": targetPackage}),
                            success: function (data) {
                            sweetAlert('操作成功', "合成包裹成功", 'success');
                            $('#PackageTableContainer').jtable('reload');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            sweetAlert('错误', JSON.parse(XMLHttpRequest.responseText).ErrorMessage, 'error');
                        }
                    });
                }
            },{
                icon: '/assets/images/box_in.ico',
                text: '分开包裹',
                click: function () {
                    var selected = $('#PackageTableContainer').jtable('selectedRows');
                    if(selected.length != 1) {sweetAlert('错误', '请选择1个包裹修改', 'error');return;}
                    $('#divide_package_origin_id').val(selected.eq(0)[0].childNodes[1].innerHTML);
                    $('#divide_package_origin_content').val(selected.eq(0)[0].childNodes[3].innerHTML);
                        $("#divide_package").modal('show');
                }
            }]
        },
		fields: {
			id: {
				title: '包裹ID',
				key: true,
				create: false,
				edit: false,
				list: true
			},
			userId: {
				create: false,
				edit: false,
				list: false
			},
			warehouseId: {
				create: false,
				edit: false,
				list: false
			},
			orderNumber: {
				title: '物流单号',
				list: true
			},
			goodsName: {
            	title: '物品名称',
            	inputClass: 'validate[required]'
            },
			goodsPrice: {
				title: '物品价格(日元)',
    			inputClass: 'validate[required]',
    			width: "10%"
			},
			goodsCount: {
            	title: '物品数量',
            	inputClass: 'validate[required]'
            },
			goodsWeight: {
				create: false,
				title: '物品重量(kg)',
				list: true
			},
			forecastTime: {
				create: true,
				title: '预报时间'
			},
			arrivedTime: {
				create: false,
				title: '入库时间'
			},
			status: {
				create: false,
				title: '物品状态',
				edit: false,
				options: {
					@Html(enumerate.PackageStatus.allStatus.map(k =>
						f"'${k}%s':'${enumerate.PackageStatus.print(k)}%s'"
					).mkString(","))
				}
			},
			detail: {
				create: false,
				title: '详细信息',
				edit: false,
			    display: function (data) {
                    return '<a href="/myPackageDetail/' + data.record.id + '" target="_blank"> 查看详情</a>';
                },
			}
		},
		//Initialize validation logic when a form is created
        formCreated: function (event, data) {
            var $rows = $('#div1').find(".jtable tbody tr");
            var ROWNUMBER = 3;
            $($rows[ROWNUMBER]).css("background", "#F5ECCE");

        },
        //Validate form when it is being submitted
        formSubmitting: function (event, data) {
            return data.form.validationEngine('validate');
        },
        //Dispose validation logic when form is closed
        formClosed: function (event, data) {
            data.form.validationEngine('hide');
            data.form.validationEngine('detach');
        },
        //Register to selectionChanged event to hanlde events
        selectionChanged: function (event) {
            //Get all selected rows
            var selectedRows = $('#PackageTableContainer').jtable('selectedRows');
        }
	}

$(document).ready(function(){
    // Initial
    $('#tab_logic').find('input,button,select').attr('disabled', 'disabled');
    $('#add_row').attr('disabled', 'disabled');
    $('#delete_row').attr('disabled', 'disabled');

    //Prepare jTable
	$('#PackageTableContainer').jtable(setting);
	$('#PackageTableContainer').jtable('load');
	$(".jtable-toolbar-item.jtable-toolbar-item-add-record").hide();
	$(".jtable-left-area").append(
        " 选择包裹类型 <span class='jtable-toolbar-item'> <select id = 'package-type-select'> <option value = ''>全部</option> " +
		$('<div/>').html("@{
			scala.xml.Unparsed(enumerate.PackageStatus.allStatus.map(k =>
				f"<option value = '${k}%s'>${enumerate.PackageStatus.print(k)}%s</option>"
			).mkString).toString
		}").text()  +
        "</select></span> "
	);

    $("#package-type-select").change(function () {
        $('#PackageTableContainer').jtable('load', {
            packageType: $('#package-type-select').val(),
        });
    });

    $('#divide_confirmed').click(function(e){
        e.preventDefault();

        var originPackageId = $('#divide_package_origin_id').val();

        var tables = [];
        var ids = $("table[id^='divide_package_table_']")
        ids.each(function(index) {
            var myRows = [];

            $(this).find('tbody').find('tr').each(function(rowIndex) {
                $cells = $(this).find('td');
                var myRow = {};
                myRow['objectName'] = $cells.eq(1).find('span').text();
                myRow['objectCount'] = parseInt($cells.eq(2).find('span').text());
                myRow['objectPrice'] = parseFloat($cells.eq(3).find('span').text());
                console.log(myRow);
                myRows[rowIndex] = myRow;
            });
            tables[index] = myRows;
        });

        var targetPackage = {
            'originPackageId': originPackageId,
            'targetPackage': tables
        };

        $.ajax({
            type: "post",
            url: "/operation/divide",
            dataType: "json",
            contentType:'application/json',
            async: false,
            data: JSON.stringify(targetPackage),
            success: function (data) {
                sweetAlert('操作成功', "分割包裹成功", 'success');
                $('#divide_package').modal('toggle');
                $('#PackageTableContainer').jtable('reload');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                sweetAlert('错误', JSON.parse(XMLHttpRequest.responseText).ErrorMessage, 'error');
            }
        });
    });

    $('#search_btn').click(function(e){
    	e.preventDefault();

    	$('#PackageTableContainer').jtable('load', {
            keyWord: $('#search_text').val()
        });
    });
});